<% content_for :header_tags do %>
  <%= javascript_include_tag 'issues_ai', plugin: 'issues_ai' %>
  <%= stylesheet_link_tag 'issues_ai', plugin: 'issues_ai' %>
  <%= javascript_include_tag 'select_models', plugin: 'issues_ai' %>
  <%= stylesheet_link_tag 'select_models', plugin: 'issues_ai' %>
<% end %>

<%= render partial: 'issues_ai/select_models' %>

<% html_title "Ask AI" %>
<h3>Ask AI</h3>
<%= form_tag '/issues_ai/ask', method: :post, id: 'ask-form' do %>
    <div id="all_attributes" class='box tabular filedroplistner'>
        <%= render :partial => 'form' %>
    </div>
    <%= submit_tag 'Ask AI', id: 'submit_ask_ai_btn' %>
<% end %>

<% if @answer %>
    <hr>
    <div class="box" id="ask_ai_results">
        <h3>Answer</h3>
        <div>
            <%= textilizable(@answer) %>
        </div>
    </div>
<% end %>
