<% content_for :header_tags do %>
  <%= javascript_include_tag 'issues_ai', plugin: 'issues_ai' %>
  <%= stylesheet_link_tag 'issues_ai', plugin: 'issues_ai' %>
  <%= javascript_include_tag 'select_models', plugin: 'issues_ai' %>
  <%= stylesheet_link_tag 'select_models', plugin: 'issues_ai' %>
<% end %>

<%= render partial: 'issues_ai/select_models' %>

<% html_title "Ask AI" %>
<h3>Ask AI</h3>
<%= form_tag '/issues_ai/ask', method: :post, id: 'ask-form' do %>
    <div id="all_attributes" class='box tabular filedroplistner'>
        <%= render :partial => 'form' %>
    </div>
    <%= submit_tag 'Ask AI', id: 'submit_ask_ai_btn' %>
<% end %>

<% if @answer %>
    <hr>
    <div id="ask_ai_results">
        <% if @functions_called # this is a list of {funxtion_name: ".." , arguments: "..", response: ".." } %>
            <fieldset class="tabular collapsible collapsed">
                <legend onclick="toggleFieldset(this);" class="icon icon-collapsed">
                <%= sprite_icon("angle-right") %>
                Functions Called
                </legend>
                <div style="display: none;">
                    <% @functions_called.each do |function| %>
                        <fieldset class="tabular collapsible collapsed">
                            <legend onclick="toggleFieldset(this);" class="icon icon-collapsed">
                                <%= sprite_icon("angle-right") %>
                                <strong><%= function[:function_name] %></strong> &nbsp;<%= function[:arguments] %>
                            </legend>
                            <div class="box" style="display: none;">
                                <%= textilizable(function[:response]) %>
                            </div>
                        </fieldset>
                    <% end %>
                </div>
            </fieldset>
        <% end %>
        <div class="box">
            <h3>Answer</h3>
            <div>
                <%= textilizable(@answer) %>
            </div>
            <% # add a button to copy the @answer to the clipboard using JS and a hidden textarea %>
            <textarea id="copy_answer" style="position:absolute;width:0;height:0;left:-9999px"><%= @answer %></textarea>
            <button id="copy_answer_btn" onclick="$('textarea#copy_answer').select(); document.execCommand('copy');$('#copied').show().delay(1000).fadeOut(1000)">Copy Answer</button>
            <span id="copied" style="display:none;">Copied!</span>
        </div>
    </div>
<% end %>
