<% html_title "AI Code review"  %>

<%if @combined_diff %>
    <% content_for :header_tags do -%>
        <%= stylesheet_link_tag "scm" -%>
    <% end -%>
    <h3>Code Changes</h3>
    <%= render :partial => 'common/diff',
        :locals => {:diff => @combined_diff, :diff_type => 'inline', :diff_style => nil} %>
<% end %>

<% if @review %>
    <h3>AI Code Review</h3>
    <div>
        <%= textilizable(@review) %>
    </div>
    <% if @changeset && @previous_review %>
        <%= form_tag '/issues_ai/save_code_review', method: :post do %>
            <%= hidden_field_tag 'commit_hash', @changeset.identifier %>
            <%= hidden_field_tag 'review', @review %>
            <%= hidden_field_tag 'back_url', @back %>
            <%= submit_tag 'Save' %>
        <% end %>
    <% end %>
    <% if @issue_id && !@changeset %>
        <%= form_tag '/issues_ai/save_code_review', method: :post do %>
            <%= hidden_field_tag 'issue_id', @issue_id %>
            <%= hidden_field_tag 'review', @review %>
            <%= hidden_field_tag 'back_url', @back %>
            <%= submit_tag 'Save as Note' %>
        <% end %>
    <% end %>
<% end %>

<% if @previous_review %>
<h3>Previous AI Code Review</h3>
<div>
    <%= textilizable(@previous_review) %>
</div>
<% end %>

<% if @back%>
<a href="<%= @back %>">Back</a>
<% end %>
