<% html_title "AI Code review"  %>
<% content_for :header_tags do -%>
    <%= stylesheet_link_tag "scm" -%>
    <%= javascript_include_tag 'code_review', plugin: 'issues_ai' %>
<% end -%>

<div id="layout" style="display:flex; flex-direction: column">
<%if @combined_diff %>
    <div id="diff_box" class="box" style="overflow:auto; height:20em; resize: vertical">
        <h3>Code Changes</h3>
        <%= render :partial => 'common/diff',
            :locals => {:diff => @combined_diff, :diff_type => 'inline', :diff_style => nil} %>
    </div>
<% end %>

<% if @review %>
    <div id="review_box" class="box" style="overflow:auto; flex: 1; min-width: 20em;">
        <div style="display:flex; justify-content: space-between">
            <h3>AI Code Review</h3>
            <button id="toggle_layout">View Side by Side</button>
        </div>
        <%= textilizable(@review) %>
    </div>
</div>
    <% if @changeset && @previous_review %>
        <%= form_tag '/issues_ai/save_code_review', method: :post do %>
            <%= hidden_field_tag 'commit_hash', @changeset.identifier %>
            <%= hidden_field_tag 'review', @review %>
            <%= hidden_field_tag 'back_url', @back %>
            <%= submit_tag 'Save' %>
        <% end %>
    <% end %>
    <% if @issue_id && !@changeset %>
        <%= form_tag '/issues_ai/save_code_review', method: :post do %>
            <%= hidden_field_tag 'issue_id', @issue_id %>
            <%= hidden_field_tag 'review', @review %>
            <%= hidden_field_tag 'back_url', @back %>
            <%= submit_tag 'Save as Note' %>
        <% end %>
    <% end %>
<% end %>

<% if @previous_review %>
<h3>Previous AI Code Review</h3>
<div>
    <%= textilizable(@previous_review) %>
</div>
<% end %>

<% if @back%>
<a href="<%= @back %>">Back</a>
<% end %>
