<% content_for :header_tags do %>
  <%= javascript_include_tag 'select_models', plugin: 'issues_ai' %>
  <%= javascript_include_tag 'settings', plugin: 'issues_ai' %>
  <%= stylesheet_link_tag 'select_models', plugin: 'issues_ai' %>
  <%= stylesheet_link_tag 'settings', plugin: 'issues_ai' %>
<% end %>

<%= render partial: 'issues_ai/select_models' %>

<script>
// the scripts need to know which providers are configured
var ISSUES_AI_MODEL_PROVIDERS = [];
<% if settings.dig('providers', 'name') && settings['providers']['name'].length > 0 %>
      <% settings['providers']['name'].each_with_index do |provider, idx| %>
          ISSUES_AI_MODEL_PROVIDERS.push('<%= provider %>');
      <% end %>
<% end %>
</script>

<div class="issues_ai_settings">
    <ul id="issues_ai_settings_menu" class="nav_menu">
        <li class="providers active" onclick="toggle_settings('providers')"><a href="#">API Providers</a></li>
        <li class="models" onclick="toggle_settings('models')"><a href="#">AI Models</a></li>
        <li class="prompts" onclick="toggle_settings('prompts')"><a href="#">Prompts</a></li>
        <li class="code_review" onclick="toggle_settings('code_review')"><a href="#">Code Review</a></li>
    </ul>

    <table>
        <%= render partial: 'settings/providers_settings', locals: {settings: settings, active: "active"} %>
        <%= render partial: 'settings/models_settings', locals: {settings: settings} %>
        <%= render partial: 'settings/prompts_settings', locals: {settings: settings}%>
        <%= render partial: 'settings/code_review_settings', locals: {settings: settings} %>
    </table>
</div>
