<div style="padding-bottom:1em">
    <h4>Code Review</h4>
    <%= form_tag '/issues_ai/code_review_commit', method: :post do %>
        <%= hidden_field_tag 'commit_hash', @changesets.map(&:identifier).join(',') %>
        <%if @issue %>
            <%= hidden_field_tag 'issue_id', @issue.id %>
        <% end %>
        <%= hidden_field_tag 'back_url', request.fullpath %>
        <%= submit_tag 'Review All Changes Now', :onclick=> "this.form.back_url.value = window.location" %>
    <% end %>
</div>
